.h-add {
    float: right;
    font-size: 17px;
    cursor: pointer;
    background-color: #3388ff;
    color: #fff;
    padding: 5px 13px;
    border-radius: 18px;
}

.h-add:active, .h-add:hover, .h-add:after, .h-add:visited {
    color: #fff;
}

.h-radio {
    width: 18px;
    height: 18px;
}

.h-span-val {
    font-size: 17px;
}

.h-radio18 {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.h-radio-span {
    position: relative;
    top: -4px;
    margin: 0 10px;
}
.fileinput-exists{
    display: none;
}
.fileinput-preview {
    border: 1px #ccc solid;
    margin-bottom: .2rem;
}
#hTimeRang{
    background-color: #fff;
    cursor: pointer;
}